body {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
}

.dumplingbilde img {
    width: 100%;
}

.dumplingwrapper {
    background-color: white;
    width: 100ch;
    margin: 0 auto;
    display: block;
}

.dumplingtext {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80ch;
}